<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.exp.sign">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/xc"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".App"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme3">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PersonActivity"
            android:label="用户信息" />
        <activity
            android:name=".FillInfoActivity"
            android:label="修改信息" />
        <activity
            android:name=".CPWDActivity"
            android:label="修改密码" />
        <activity
            android:name=".HomeAdActivity"
            android:label="校车预约系统" />
        <activity
            android:name=".YuyuActivity"
            android:label="校车预约" />
        <activity
            android:name=".XxActivity"
            android:label="预约消息" />
        <activity
            android:name=".AddYuyueActivity"
            android:label="校车预约" />
        <activity
            android:name=".TableActivity"
            android:label="座位选择" />
        <activity
            android:name=".AddCardActivity"
            android:label="校车信息" />
        <activity
            android:name=".FksActivity"
            android:label="问题反馈" />
        <activity
            android:name=".HomeNuActivity"
            android:label="校车预约系统" />
        <activity
            android:name=".UsersActivity"
            android:label="用户列表" />
        <activity
            android:name=".CarsActivity"
            android:label="校车管理" />
        <activity
            android:name=".LuxActivity"
            android:label="路线管理" />
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/AppTheme3" />

        <service
            android:name=".GpsService"
            android:label="GPS服务" />

        <meta-data
            android:name="android.max_aspect"
            android:value="2.5" />

    </application>

</manifest>